include README.md
include LICENSE
include CITATION.cff
include pyproject.toml
include setup.py
graft examples
graft docs
graft tests
graft native
global-exclude *.py[cod]
global-exclude __pycache__/*
global-exclude .DS_Store
prune dist
prune build
